*{
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: left;
  font-size: 100px;
  font-family: Kanit;
  margin-bottom: 5px;
  text-decoration: underline;
}

h2{
  text-align: center;
  font-size: 80px;
  font-family: Kanit;
}

p{
  color: black;
  text-align: justify;
  font-size: 65px;
  font-family: Kanit;
  margin-top: 5px;
}
h3{
  color: black;
  text-align: left;
  font-weight: bold;
  font-size: 50px;
  padding-top: 100px;
  text-decoration: underline;
  font-family: Kanit;
}

.header{
  background-image: url(file:///C:/Users/p.severin-karlsson/OneDrive%20-%20Bonnier%20News/Intro/Kodarkurs/Demo/US-trade-war-with-China.jpg);
  background-repeat:no-repeat;
  background-size: 75%;
  background-position: center;
  padding: 50px;
  padding-bottom: 300px;
  filter: brightness(130%);
  border-bottom: 1px solid;
}

.flexusa{
display: flex;
border: black 1px solid;
border-bottom: white;
}
.usa{
background-image: url(file:///C:/Users/p.severin-karlsson/OneDrive%20-%20Bonnier%20News/Intro/Kodarkurs/Demo/Trump_hero.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: 75%;
filter: brightness(150%);
width: 50%;
padding-left: 50px;
}

.usa-article{
  background-color: white;
  padding: 100px;
  height: 500px;
  width: 50%;
}
.usa-article img{
  width: 175px;
}
.flexchina{
  display: flex;
  border: black 1px solid;
}

.china{
  background-image: url(file:///C:/Users/p.severin-karlsson/OneDrive%20-%20Bonnier%20News/Intro/Kodarkurs/Demo/Xi%20Jinping_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  filter: brightness(150%);
  width: 50%;
  padding-left: 50px;
  order: 2;
}
.china-article{
  background-color: white;
  padding: 100px;
  height: 500px;
  width: 50%;
}
.china-article img{
  width: 150px;
}

.flexarticleusa{
  display: flex;
}
.flexarticlechina{
  display:flex;
  width: 50%;
}
